<h1>Recipe Box</h1>
<hr>
<a href="/recipes" class= "btn btn-info">Recipes</a>
<br>
<br>
<a href="/ingredients" class= "btn btn-info">Ingredients</a>
<br>
<br>
<a href="/catagories" class= "btn btn-info">Catagories</a>
